<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  img {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}
.fa {
  padding:20px;
  font-size: 30px;
  width: 80px;
  text-align: center;
  text-decoration: none;
  margin: 5px 5 px;
  
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter{
  background:white;
  color: rgb(9, 204, 239);
}
.fa-spotify {
  background: rgb(26, 190, 45);
  color: black;

}

.fa-gitHub {
  background:white;
  color: black;
}
.fa-instagram {
  background: rgb(255, 55, 0);
  color:white;
}
.fa-linkedin{
  background:blue;
  color:white;
}
</style>

  <title>Souraj Sarkar</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link rel="icon" type="image/x-icon" href="favicon.jpeg">
 
  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: DevFolio - v4.7.1
  * Template URL: https://bootstrapmade.com/devfolio-bootstrap-portfolio-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="index.html">Welcome to my world</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#Education">Education</a></li>
          <li><a class="nav-link scrollto " href="#work">Work</a></li>
          <li><a class="nav-link scrollto " href="#blog">Blog</a></li>
            <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <div id="hero" class="hero route bg-image" style="background-image: url(dp.jpeg);

 height:calc(100vh-40vh);
 background_size:var(--bg-size);">
    <div class="overlay-itro"></div>
    <div class="hero-content display-table">
      <div class="table-cell">
        <div class="container">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <!--<p class="display-6 color-d">Hello, world!</p>-->
          <h1 class="hero-title mb-4">I am Souraj Sarkar</h1>
          <p class="hero-subtitle"><span class="typed" data-typed-items="Cyber Security Student,Developer"></span></p>
          <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
        </div>
      </div>
    </div>
  </div><!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about-mf sect-pt4 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="box-shadow-full">
              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-sm-6 col-md-5">
                      <div class="about-img">
                        <img src="WhatsApp Image 2022-07-08 at 10.11.37 AM.jpeg" class="img-fluid rounded b-shadow-a" alt=""width="20%" height="30%">
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-7">
                      <div class="about-info">
                        <br>
                      
                
                        <br>
                       

                      
                        <p><span class="title-s">Name: </span> <span>Souraj Sarkar</span></p>
                        <p><span class="title-s">Occupation: </span> <span>Student</span></p>
                        <p><span class="title-s">Email: </span> <span>souraj162002@gmail.com</span></p>
                        <p><span class="title-s">Phone: </span> <span>7205044629</span></p>
                      
                      </div>
                    </div>
                  </div>
                  <div class="skill-mf">
                    <p class="title-s">Skill</p>
                    <span>HTML/CSS</span> <span class="pull-right">55%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 55%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>MONGODB</span> <span class="pull-right">40%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>JAVA</span> <span class="pull-right">80%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>JAVASCRIPT</span> <span class="pull-right">78%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 78%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <span>PYTHON</span> <span class="pull-right">70%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="about-me pt-4 pt-md-0">
                    <div class="title-box-2">
                      <br>
                      <br>
                      <h5 class="title-left">
                        About me
                      </h5>
                    </div>
                    <p class="lead">
                    <li><b>Iam a Btech undergraduate at VIT university and a Cyber security student with a keen interest in web development.</b></li>
                    </p>
                    <p class="lead">
                      <li><b> My native is West Bengal,Kolkata but i lived and studied at Odisha,Bhubaneshwar for  the last 19 years.</b> </li>
                 
                    </p>
                    <p class="lead">
                     <li> <b>Peace and love is what i prefer the most</b> </li>
                   
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div
    </section><!-- End About Section -->

    <!-- ======= education Section ======= -->

    
    <!-- ======= Resume Section ======= -->
    <section id="Education" class="Education-mf sect-pt4 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="box-shadow-full">
              <div class="row">
    
      

        <div class="section-title">
          <h2>Education</h2>
          <b><p>"Every phase of my life taught me something. Sometimes i miss my old incautious days but still glad with my purposive present. So these are the places where i made 1000 of memories"</b></p>
        </div>
        <div>
          <h4>VIT UNIVERSITY </h4>
          <h5>2021-2024</h5>
          <p><em>Bhopal,Madhya Pradesh</em></p>

        </div>   
         <div>
              <h4>ODM INTERNATIONAL</h4>
              <h5>2019-2020</h5>
              <p><em>Bhubaneshwar, Odisha</em></p>
              
            </div>
            <div class="resume">
              <h4>BETHAL CHAPEL MISSION SCHOOL</h4>
              <h5>2008-2018</h5>
              <p><em>Bhubaneshwar,Odisha</em></p>
              
            </div>
          </div>
          <div>
          </div>
        </div>
      </div>
    </div>
          
  </div>
        </section>
        
          


    <!--  -->

    <!-- ======= Counter Section ======= -->

    
    <h3 style=text-align:center;color:black;> Click on icons to get connected to my social media</h3>
    <div class="section-counter paralax-mf bg-image" style="background-image: url(assets/img/counters-bg.jpg);no-repeat center fixed #000;-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;">
     
      <div class="overlay-mf"></div>
      <div class="container position-relative">
        <div class="row">
          <div class="col-sm-3 col-lg-3">
            <div class="counter-box counter-box pt-4 pt-md-4">
              <div class="counter-num">
               
                
              </div>
              
              
                <a href="https://www.facebook.com/souraj.sarkar.12/" class="fa fa-facebook"></a>
              
              <div class="counter-num">
               
                <span class="counter-text">Facebook</span>
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-lg-3">
            <div class="counter-box pt-4 pt-md-0">
              
               <a href="https://twitter.com/sarkarji1602" class="fa fa-twitter" style="font-size:50px ;"></a>
             
              <div class="counter-num">
                
                <span class="counter-text">Twitter</span>
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-lg-3">
            <div class="counter-box pt-4 pt-md-0">
              
                <a href="https://www.instagram.com/__souraaaaj___/" class="fa fa-instagram"></a>
         
             
              <div class="counter-num">
                
                <span class="counter-text">Instagram</span>
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-lg-3">
            <div class="counter-box pt-4 pt-md-0">
              <div class="counter-ico">
                <a href="#" class="fa fa-linkedin"></a>
              </div>
              <div class="counter-num">
               
                <span class="counter-text">Linked in</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- End Counter Section -->

    <!-- ======= Portfolio Section ======= -->
  
    <section id="work" class="work-mf sect-pt4 route">
      <div class="container" >
        <div class="row">
          <div class="col-sm-12">
            <div class="box-shadow-full"style="background-image: url(cartoon3.jpeg);background-attachment: fixed; background-size: cover;">
              <div>
                <h1>Work</h1>
                <p style="font-size: 20px;"><b> Here are some repositiories in my github which i created till now and will keep commiting codes and uploading more content.</b></p>
              </div>
              <br>

              <div>
                <p><b><li> Click on the icon given below </li></b></p>
                <a href="https://github.com/sourajsarkar" class="fa fa-github" style="font-size:50px ;"></a>
              </div>

              <p><b><li> To download my resume click on the button given below </li></b></p>
              <button type="button" style="background-color:rgb(206, 63, 139)"  > <a href="https://drive.google.com/file/d/11gJyqyeABPSoGH4TTqX_qcFofR1AtYuC/view?usp=drivesdk">Touch with Love</a></button><br>

            
            
            <br><p><b><li>I would also like to share my spotify playlist with you all hope you like it </li> </b></p>
            <a href="https://open.spotify.com/playlist/5wfmqg6CAUzfr1F4fSc8ua?si=5Nc4wX_3RL22K98OUEpDnw&utm_source=whatsapp" class="fa fa-spotify" style="font-size:40px;"></a>
            </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-sm-6 col-md-5">


                    
                      
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </section>
          <!-- End Portfolio Section -->

    
            

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url(assets/img/overlay-bg.jpg)">
      <div class="overlay-mf"></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="contact-mf">
              <div id="contact" class="box-shadow-full">
                <div class="row">
                  <div class="col-md-6">
                    <div class="title-box-2">
                      <h5 class="title-left">
                        U Can Text Me
                      </h5>
                    </div>
                    <div>
                      <form action="/index" method="post" role="form" class="email-form">
                        <div class="row">
                          <div class="col-md-12 mb-3">
                            <div class="form-group">
                              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                            </div>
                          </div>
                          <div class="col-md-12 mb-3">
                            <div class="form-group">
                              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                            </div>
                          </div>
                          
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                            </div>
                          </div>
                         
                          <div class="col-md-12 text-center">
                            <button type="submit" class="button button-a button-big button-rouded">Send Message</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="title-box-2 pt-4 pt-md-0">
                      <h5 class="title-left">
                        Get in Touch
                      </h5>
                    </div>
                    <div class="more-info">
                      <p class="lead">
                        <b> I would be glad if you send me some message ,i can read it once i open my server.
                        Thank you for you valuable time </b>
                      </p>
                      <ul class="list-ico">
                        <li><span class="bi bi-geo-alt"></span> Bhubaneswar,India</li>
                        <li><span class="bi bi-phone"></span>7205044629</li>
                         
                         <a href="www.gmail.com"><li ><span class="bi bi-envelope" ></span> souraj162002@gmail.com</li></a>
                      </ul>
                    </div>
                   
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
 ><!-- End  Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/typed.js/typed.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>